8/+-+9*    ViewData["Title"] = "About"\][0poiuytrewsqa;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]dddd</h3>

<p>@Settings.ProductName aims to help keep surfers, swimmers and other water users safer.   Using long-endurance drones to stream near live video to anyone wanting to help.</p>
<h3>How It Works</h3>
\

<h5>@Settings.ProductName</h5>